@import "../../styles/base";

.if-banner-item {
  display: block;
  padding: 64px 0;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  &:before{
    content: attr(data-title);
    font-size: 338px;
    position: absolute;
    text-align: center;
    width: 100%;
    opacity: 0.08;
    color: $main;
    left: 0;
    top: -168px;
    z-index: 0;
  }
  .banner-main{
    max-width: 1200px;
    margin: 0 auto;
    &__title{
      text-align: center;
      letter-spacing: 4px;
      font-size: 28px;
      display: block;
      text-transform: capitalize;
    }
    &-list{
      max-width: 640px;
      margin: 48px auto 0;
      position: relative;
      z-index: 1;
    }
    &-item{
      display: block;
      a{
        font-size: 16px;
        font-weight: 500;
        border-bottom: solid 1px rgba(0,0,0,0.2);
        padding: 15px;
        width: 100%;
        text-align: left;
        color: $main;
        transition: color .25s;
        &:hover{
          color: $pink;
        }
      }
    }
  }
}