@import "../../styles/base";

.if-classifyScreen{
  display: flex;
  padding: 32px 0 64px;
  &-left{
    height: 100px;
    width: 100px;
  }
  &-right{
    flex: 1;
    margin-left: 32px;
  }
  &__icon{
    display: block;
    width: 100%;
    height: 100%;
  }
  &__title{
    height: 52px;
    line-height: 52px;
    font-size: 36px;
    color: $main;
  }
  &__description{
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    color: #888888;
  }
}