@import "../../styles/base";

.if-classifyProfile {
  &-info{
    display: flex;
    overflow: hidden;
    margin-bottom: 8px;
    &__name{
      flex: 1;
      @include nowrap();
      font-size: 20px;
      color: $weakMain;
      line-height: 40px;
      margin-left: 20px;
    }
    &__img{
      display: block;
      width: 40px;
      height: 40px;
    }
  }
  &-text{
    line-height: 24px;
    font-size: 14px;
    color: $weakMain;
    & + .if-classifyProfile-text{
      margin-top: 12px;
    }
    span{
      color: $main;
    }
  }
}