// Here you can add other styles
@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/codemirror/theme/material.css';
@import '../../node_modules/codemirror/theme/xq-light.css';

.user-bg--full {
  background: url('../assets//full-bg-1.svg') no-repeat center;
  background-size: cover;
}

.user {
  &-form {
    .input-group-text {
      width: 44px;
      justify-content: center;
    }
  }
}

.c-sidebar-brand-minimized,
.c-sidebar-brand-full {
  height: 35px;
  background: transparent url("../assets//logo.svg") no-repeat left center;
  background-size: 35px;
  color: #fff;
  font-size: 20px;
  text-indent: 47px;
  line-height: 35px;
}

.c-sidebar-brand-minimized {
  width: 35px
}

// 自定义
table td a+a,
table td .link+.link {
  margin-left: 8px;
}

// 编辑器
.editor {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  &-main {
    display: flex;
  }
  &--priview{
    .editor-left{
      display: block;
    }
  }
  &--edit{
    .editor-right{
      display: block;
    }
  }
  &-right,
  &-left {
    flex: 1;
    overflow: hidden;
    display: none;
  }
  .cm-s-material.CodeMirror {
    height: 756px;
  }
  &-tool{
    display: flex;
    padding: 4px 8px;
    align-items: center;
    &-left{
      flex: 1;
    }
    .btn{
      margin: 0 2px;
    }
    .editor-btns-group{

    }
  }
  &--fullScreen{
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.link {
  color: #321fdb;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

// 编辑器输入框
.cm-s-md-mirror .CodeMirror {
  background: #f5f5f5;
  color: #202020;
  font-size: 16px;
  padding: 12px;
  line-height: 25px;
}

.cm-s-md-mirror div.CodeMirror-selected {
  background: #e0e0e0;
}

.cm-s-md-mirror pre.CodeMirror-line {
  word-break: break-all;
}

.cm-s-md-mirror .CodeMirror-line::selection,
.cm-s-md-mirror .CodeMirror-line>span::selection,
.cm-s-md-mirror .CodeMirror-line>span>span::selection {
  background: #e0e0e0;
}

.cm-s-md-mirror .CodeMirror-line::-moz-selection,
.cm-s-md-mirror .CodeMirror-line>span::-moz-selection,
.cm-s-md-mirror .CodeMirror-line>span>span::-moz-selection {
  background: #e0e0e0;
}

.cm-s-md-mirror .CodeMirror-gutters {
  background: #f5f5f5;
  border-right: 0px;
}

.cm-s-md-mirror .CodeMirror-guttermarker {
  color: #ac4142;
}

.cm-s-md-mirror .CodeMirror-guttermarker-subtle {
  color: #b0b0b0;
}

.cm-s-md-mirror .CodeMirror-linenumber {
  color: #b0b0b0;
}

.cm-s-md-mirror .CodeMirror-cursor {
  border-left: 1px solid #505050;
}

.cm-s-md-mirror span.cm-comment {
  color: #ac002b;
}

.cm-s-md-mirror span.cm-atom {
  color: #aa759f;
}

.cm-s-md-mirror span.cm-number {
  color: #aa759f;
}

.cm-s-md-mirror span.cm-property,
.cm-s-md-mirror span.cm-attribute {
  color: #90a959;
}

.cm-s-md-mirror span.cm-keyword {
  color: #023a52;
}

.cm-s-md-mirror span.cm-string {
  color: #e46918;
}

.cm-s-md-mirror span.cm-variable {
  color: #90a959;
}

.cm-s-md-mirror span.cm-variable-2 {
  color: #00695f;
}

.cm-s-md-mirror span.cm-variable-3 {
  color: #2e6e8a;
}

.cm-s-md-mirror span.cm-def {
  color: #d28445;
}

.cm-s-md-mirror span.cm-bracket {
  color: #202020;
}

.cm-s-md-mirror span.cm-tag {
  color: #ac4142;
}

.cm-s-md-mirror span.cm-link {
  color: #b26a00;
}

.cm-s-md-mirror span.cm-error {
  /* background: #ac4142;
  color: #f5f5f5; */
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #df8d8e;
}

.cm-s-md-mirror .CodeMirror-activeline-background {
  background: #dddcdc;
}

.cm-s-md-mirror .CodeMirror-matchingbracket {
  color: rgb(32, 32, 32) !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.editor {
  border: 1px solid #d8dbe0;
  &-tool{
    background-color: #d8dbe0;
  }
}
#editor-preview {
  height: 756px;
  box-sizing: border-box;
  padding: 7px 20px 20px;
  font-size: 15px;
  letter-spacing: 0.05em;
  overflow: auto;
  color: #595959;
  line-height: 1.6;
  word-spacing: 0px;
  word-break: break-word;
  word-wrap: break-word;
  text-align: left;
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, 'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  h2 {
    line-height: 32px;
    border-bottom: solid 1px #000000;
    color: #35b378;
    display: inline-block;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-color: #35b378;
    padding-top: 5px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 23px;
    margin: 1em 0 0rem 0;
    padding: 0.5em 0;
    text-align: leftt;
    font-weight: bold;
  }

  h3 {
    margin: 1.2em 0 1em;
    padding: 0;
    font-weight: bold;
    color: #35b378;
  }

  li section {
    margin: 10px 0;
  }

  blockquote {
    margin: 10px 5px;
    border-left: 3px solid #35b378;
    border-right: 0px solid #35b378;
    color: #616161;
    quotes: none;
    background: #FBF9FD
  }

  a {
    color: #35b378;
    border-bottom: 1px solid #35b378;
  }

  strong {
    color: #35b378;
  }

  hr {
    border: 1px solid #35b378;
    margin: 1.5em auto;
  }

  /*默认样式，最佳实践*/

  /*段落*/
  p {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    line-height: 26px;
    color: black;
  }

  /*标题*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0px;
    font-weight: bold;
    color: black;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 16px;
  }

  h1 .prefix,
  h2 .prefix,
  h3 .prefix,
  h4 .prefix,
  h5 .prefix,
  h6 .prefix {
    display: none;
  }

  h1 .suffix h2 .suffix,
  h3 .suffix,
  h4 .suffix,
  h5 .suffix,
  h6 .suffix {
    display: none;
  }

  /*列表*/
  ul,
  ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 25px;
    color: black;
  }

  ul {
    list-style-type: disc;
  }

  ul ul {
    list-style-type: square;
  }

  ol {
    list-style-type: decimal;
  }

  li section {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 26px;
    text-align: left;
    color: rgb(1, 1, 1);
    /* 只要是纯黑色微信编辑器就会把color这个属性吞掉。。。*/
    font-weight: 500;
  }

  /*引用*/
  blockquote {
    display: block;
    font-size: 0.9em;
    overflow: auto;
    border-left: 3px solid rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.05);
    color: #6a737d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  blockquote p {
    margin: 0px;
    color: black;
    line-height: 26px;
  }

  .table-of-contents a {
    border: none;
    color: black;
    font-weight: normal;
  }

  /*链接*/
  a {
    text-decoration: none;
    color: #1e6bb8;
    word-wrap: break-word;
    font-weight: bold;
    border-bottom: 1px solid #1e6bb8;
  }

  /*加粗*/
  strong {
    font-weight: bold;
    color: black;
  }

  /*斜体*/
  em {
    font-style: italic;
    color: black;
  }

  /*加粗斜体*/
  em strong {
    font-weight: bold;
    color: black;
  }

  /*删除线*/
  del {
    font-style: italic;
    color: black;
  }

  /*分隔线*/
  hr {
    height: 1px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid black;
  }

  /*代码块*/
  pre {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  pre code {
    display: -webkit-box;
    font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
    border-radius: 0px;
    font-size: 12px;
    -webkit-overflow-scrolling: touch;
  }

  pre code span {
    line-height: 26px;
  }

  /*行内代码*/
  p code,
  li code {
    font-size: 14px;
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    color: #1e6bb8;
    background-color: rgba(27, 31, 35, .05);
    font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
    word-break: break-all;
  }

  /*图片*/
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  /*图片*/
  figure {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /*图片描述文字*/
  figcaption {
    margin-top: 5px;
    text-align: center;
    color: #888;
    font-size: 14px;
  }


  /*表格容器 */
  .table-container {
    overflow-x: auto;
  }

  /*表格*/
  table {
    display: table;
    text-align: left;
  }

  tbody {
    border: 0;
  }

  table tr {
    border: 0;
    border-top: 1px solid #ccc;
    background-color: white;
  }

  table tr:nth-child(2n) {
    background-color: #F8F8F8;
  }

  table tr th,
  table tr td {
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
  }

  table tr th {
    font-weight: bold;
    background-color: #f0f0f0;
  }

  /* 表格最小列宽4个汉字 */
  table tr th:nth-of-type(n),
  table tr td:nth-of-type(n) {
    min-width: 85px;
  }

  /* 微信代码块 */
  .code-snippet__fix {
    word-wrap: break-word !important;
    font-size: 14px;
    margin: 10px 0;
    display: block;
    color: #333;
    position: relative;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    display: flex;
    line-height: 20px;
  }

  .code-snippet__fix pre {
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .code-snippet__fix .code-snippet__line-index {
    counter-reset: line;
    flex-shrink: 0;
    height: 100%;
    padding: 1em;
    list-style-type: none;
    padding: 16px;
    margin: 0;
  }

  .code-snippet__fix .code-snippet__line-index li {
    list-style-type: none;
    text-align: right;
    line-height: 26px;
    color: black;
    margin: 0;
  }

  .code-snippet__fix .code-snippet__line-index li::before {
    min-width: 1.5em;
    text-align: right;
    left: -2.5em;
    counter-increment: line;
    content: counter(line);
    display: inline;
    color: rgba(0, 0, 0, 0.3);
  }

  .code-snippet__fix pre {
    overflow-x: auto;
    padding: 16px;
    padding-left: 0;
    white-space: normal;
    flex: 1;
    -webkit-overflow-scrolling: touch;
  }

  .code-snippet__fix code {
    text-align: left;
    font-size: 14px;
    display: block;
    white-space: pre;
    display: flex;
    position: relative;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0px;
  }

  .footnote-word {
    color: #1e6bb8;
    font-weight: bold;
  }

  .footnote-ref {
    color: #1e6bb8;
    font-weight: bold;
  }

  .footnote-item {
    display: flex;
  }

  .footnote-num {
    display: inline;
    background: none;
    font-size: 80%;
    opacity: 0.6;
    line-height: 26px;
    font-family: ptima-Regular, Optima, PingFangSC-light, PingFangTC-light, 'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .footnote-item p {
    display: inline;
    font-size: 14px;
    padding: 0px;
    margin: 0;
    line-height: 26px;
    color: black;
    word-break: break-all;
  }

  sub,
  sup {
    line-height: 0;
  }

  .footnotes-sep:before {
    content: "参考资料";
    display: block;
  }

  /* 解决公式问题 */
  .block-equation {
    display: block;
    text-align: center;
    overflow: auto;
    display: block;
    -webkit-overflow-scrolling: touch;
  }

  .block-equation svg {
    max-width: 300% !important;
    -webkit-overflow-scrolling: touch;
  }

  .imageflow-layer1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    white-space: normal;
    border: 0px none;
    padding: 0px;
    overflow: hidden;
  }

  .imageflow-layer2 {
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
  }

  .imageflow-layer3 {
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    vertical-align: middle;
    width: 100%;
  }

  .imageflow-img {
    display: inline-block;
  }

  .imageflow-caption {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    color: #888;
  }

  .nice-suffix-juejin-container {
    margin-top: 20px !important;
  }

  figure a {
    border: none;
  }

  figure a img {
    margin: 0px;
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* 图片链接嵌套 */
  figure a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 图片链接嵌套，图片解释 */
  figure a+figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -35px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    line-height: 35px;
    z-index: 20;
  }
}

.card-footer .btn + .btn {
  margin-left: 12px;
}

.mb-20{
  margin-bottom: 20px;
}

.form-check{
  &.checkbox,
  .form-check-input,
  .form-check-label{
    cursor: pointer;
  }
}

.form-group-checkbox--list {
  .form-check {
    display: inline-block;
    margin-right: 40px;
  }
}

.caticon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 16px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  &-eye{
    background-image: url("../assets/editor//eye.svg");
    &--actived{
      background-image: url("../assets/editor/eye-slash.svg");
    }
  }
  &-save{
    background-image: url("../assets//editor/save.svg");
  }
  &-publish{
    background-image: url("../assets//editor//paper-plane.svg");
  }
  &-expand{
    background-image: url("../assets//editor/expand-alt.svg");
    &--actived{
      background-image: url("../assets/editor/compress-alt.svg");
    }
  }
  &-edit{
    background-image: url("../assets/editor/edit.svg");
  }
}