@import "../../styles/base";

.if-articleList{
  
}

.if-articleProfile{
  display: block;
  &-img{
    width: 100%;
    img{
      display: block;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #f3f3f3;
    }
  }
  &__title{
    line-height: 1.5;
    font-size: 24px;
    color: $main;
    a{
      color: inherit;
      transition: color .25s;
      &:hover {
        color: $pink;
      }
    }
  }
  &-tags{
    line-height: 28px;
  }
  &-tag{
    display: inline-block;
    vertical-align: top;
    color: $weakMain;
    position: relative;
    font-size: 14px;
    transition: color .25s;
    &:hover {
      color: $pink;
    }
    & + .if-articleProfile-tag{
        margin-left: 12px;
        padding-left: 13px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 1px;
        height: 12px;
        top: 50%;
        margin-top: -6px;
        background-color: #ddd;
      }
    }
  }
}